<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/common.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/filters.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/user.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/repo.css">
    <link rel="icon" href="../static/images/icon.png" />
    <title>Gitify - 404 error page</title>

  </head>
  <body>
    <header>
      <span class="logo"><img src="../static/images/gitify_logo_light.png" alt="gitify logo"></span>
    </div>
      <div class="nav">
        <a href="{{url_for('trending_repos')}}" class="first-nav">🔥 Trending</a>
        <a href="{{url_for('home')}}">🔎 Search</a>
      </div>
    </header>
    <div class="container">
        <h1>422 - resource could not be reached</h1>
    </div>
    <footer>
        <p>© 2023 Gitify</p>
    </footer>
  </body>
</html>
