<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/common.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/filters.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/user.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/repo.css">
    <link rel="icon" href="../static/images/icon.png" />
    <title>User results</title>
  </head>
  <body>
    <header>
      <span class="logo"><img src="../static/images/gitify_logo_light.png" alt="gitify logo"></span>
	  <div class="search_bar">
      {% if users is not none %}
        <form action="{{url_for('search_users')}}" method="get">
          <input type="text" id="query" name="q" placeholder="Enter your search query here" class="search_keyword">
          <input type="submit" value="Search" class="search_submit">
        </form>
      {% elif repos is not none %}
        <form action="{{url_for('search_repos')}}" method="get">
          <input type="text" id="query" name="q" placeholder="Enter your search query here" class="search_keyword">
          <input type="submit" value="Search" class="search_submit">
        </form>
      {% endif %}
      
    </div>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
        <p>© 2023 Gitify</p>
    </footer>
  </body>
</html>
