<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/common.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/filters.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/user.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/repo.css">
    <link rel="icon" href="../static/images/icon.png" />
    {% if request.path == "/users" %}
    <title>User results</title>
    {% elif request.path == "/repos" %}
    <title>Repositories results</title>
    {% elif request.path == "/trending" %}
    <title>Trending</title>
    {% elif request.path == "/testing" %}
    <title>Testing</title>
    {% endif %}
    <style>
  .section {
    padding: 0px 40px 0px 40px;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
    </style>
  </head>
  <body>
    <header>
      <span class="logo"><img src="../static/images/gitify_logo_light.png" alt="gitify logo"></span>
	  <div class="search_bar">

      {% if request.path == "/users" %}
      <form action="{{url_for('search_users')}}" method="get">
        {% elif request.path == "/repos" %}
        <form action="{{url_for('search_repos')}}" method="get">
      {% elif request.path == "/trending" %}
        <form action="{{url_for('search_repos')}}" method="get">
      {% elif request.path == "/testing" %}
        <form action="{{url_for('testing')}}" method="get">
      {% endif %}
        <div class="inputs">
          <button type="submit" value="" class="search_submit" placeholder=""><img
              src="../static/images/search_icon_light.png" alt="search icon"></button>
          <input type="search" id="query" class="query" name="q" placeholder="Search Gitify" value="{{p.q or ''}}">
        </div>
        <div class="filter">
          <div class="revealed">
            <span class="toggle-button" onclick="toggleFilters()" id="hook">filters +</span>
          </div>
          <ul class="section">
            <li>
              <label for="sort_by">Sort by :</label>
              <select id="sort_by" name="sort_by" title="sort_by" class="sort_by">
                {% for option in options.sort_by %}
                {% if option[0] == p.sort_by %}
                  <option selected value="{{option[0]}}">{{option[1]}}</option>
                {% else %}
                  <option value="{{option[0]}}">{{option[1]}}</option>
                {% endif %}
                {% endfor %}
              </select>
            </li>
            <li>
              <label for="filter-language">Language :</label>
              <select id="filter-language" name="language" class="filter-language">
                <option value="">Any Language</option>
                <optgroup label="Popular">
                  {% for option in options.popular_lang %}
                  {% if option[0] == p.language %}
                    <option selected value="{{option[0]}}">{{option[1]}}</option>
                  {% else %}
                  <option value="{{option[0]}}">{{option[1]}}</option>
                  {% endif %}
                  {% endfor %}
                </optgroup>
                <optgroup label="Everything else">
                  {% for option in options.everything_lang %}
                  {% if option[0] == p.language %}
                    <option selected value="{{option[0]}}">{{option[1]}}</option>
                  {% else %}
                  <option value="{{option[0]}}">{{option[1]}}</option>
                  {% endif %}
                  {% endfor %}
  
                </optgroup>
              </select>
            </li>
            {% if request.path == "/users" %}
            <li>
              <label for="filter-location">Location :</label>
              <input type="search" id="filter-location" class="filter-location" name="location"
                placeholder="type location here">
            </li>
            {% endif %}
            <li class="submit_container">
            <button type="submit" value="" class="search_submit_button" placeholder="Search">search</button>
            </li>
          </ul>
        </div>
  
          </form>
    </div>
      <div class="nav">
        <a href="{{url_for('trending_repos')}}" class="first-nav">🔥 Trending</a>
        <a href="{{url_for('home')}}">🔎 Search</a>
      </div>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
        <p>© 2023 Gitify</p>
    </footer>
  </body>
</html>




<script>
  var button = document.getElementsByClassName("toggle-button")[0];
  var filters = document.getElementsByClassName("section")[0];

  // Define a function to toggle the filters visibility
  function toggleFilters() {
    // If the filters are hidden, show them and change the button text
    console.log(filters.style.display)
    if (filters.style.display == "none" || filters.style.display == "") {
      filters.style.display = "block";
      button.innerHTML = "filters -";
    } else {
      // If the filters are visible, hide them and change the button text
      filters.style.display = "none";
      button.innerHTML = "filters +";
    }
  }
</script>
