<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/common.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/filters.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/user.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/repo.css">
    <link rel="icon" href="../static/images/icon.png" />
    <title>User results</title>
  </head>
  <body>
    <header>
      <span class="logo"><img src="../static/images/gitify_logo.png" alt="gitify logo"></span>
	  <div class="search_bar"s>
        <input type="text" id="query">
    </div>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
        <p>© 2023 Gitify</p>
    </footer>
  </body>
</html>
