<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/search.css">
    <link rel="icon" href="../static/images/icon.png" />
    <title>Search</title>
  </head>
  <body>
    <div class="container"s>
      {% if users is not none and users %}
        <form action="{{url_for('search_users')}}" method="get">
      {% elif repos is not none and repos %}
        <form action="{{url_for('search_repos')}}" method="get">
      {% endif %}
          <label for="query"><h1>Gitify</h1></label>
          <input type="search" id="query" name="q" placeholder="Enter your search query here">
          <input type="submit" value="Search" class="search_submit">
        </form>
    </div>
    <footer>
        <p>© 2023 Gitify</p>
    </footer>  
</body>
</html>
