.filter .elements {
    display: flex;
    justify-content: space-between;
}
.filter select {
    background-color: #00072d;
    color: white;
    height: 24px;
    width: 50%;
    font-size: 16px;
}
.filter-location {
    height: 24px;
    width: 50%;

    font-size: 16px;
    color: white;
    caret-color: white;
    border: 1px #777777 solid;
    background-color: transparent;
}
/* .filter .section {
    padding: 0px 40px 0px 40px;
} */
.filter .section li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding-left: 0px;
}
/* .filter .section li input {

} */
.filter .revealed {
    display: flex;
    position: relative;
    justify-content: start;
    margin-bottom: 5px;
    /* margin: 0px 40px 0px 40px; */
    left: 45px;
    width: 436.48px;
}
.filter .revealed {
    font-size: 14px;
    color: rgb(254, 254, 131);
}
.filter .section span {
    width: 40%;
}
.submit_container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.filter .section li.submit_container{
    display: flex;
    justify-content: center;
    padding-left: 0px;
    width: 100%;
    margin-bottom: 0px;
}
button.search_submit_button {
    margin: 2px;
    color: white;
    padding: 3px 5px;
    background-color: #00072d;
    border-radius: 5px;
    border: 1px solid;
    
}
.query:focus {
    outline: none;
}
.toggle-button:hover {
    color: lightblue;
}

