/* footer {
    display: flexbox;
    background-color: #888;
    bottom: 0px;
    align-self: end;
    height: 60px;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #000;
}
footer p {
    text-align: center;
    top: 10%;
    bottom: 0;
    right: 0;
    left: 0;
} */
footer{
    height: 60px; width: 100%;
    border-top: 1px solid #777777;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center
}

footer p {
  color: #787878;
  text-align: center;
}
