body{
    display: flexbox;
    background-color: #FFFFFF;
    color: #000;
    flex-direction: column;
    flex: 1;
}
header {
    background-color: #00072d;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    min-height: 58px;
    width: 100%;
    border-bottom: 1px solid #777777;
}

header .logo {
    /* position: absolute; */
    width: auto;
    height: 100%;
    padding-right: 10px;
    margin-bottom: 10px;
}

.search_bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.search_bar form {
    /* width: 100%; */
    /* padding-left: 180px; */
    background-color: inherit;
    justify-self: self-left;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    width: 440px;
}
.inputs {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    border: 2px #888 solid;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 80%;
}

.search_submit {
    background-color: transparent;
    border: none;
}
.search_submit img {
    size: 40px;
    height: 40px;;
}
.query
{
    height: 42px;
    width: 100%;

    font-size: 24px;
    color: white;
    caret-color: white;
    border: none;
    background-color: transparent;
    margin-right: 15px;
}
.nav a{
    display: inline-block;
    color: yellow;
    max-height: 58px;
    padding: auto;
    text-decoration: none;
    margin: 20px 0px;
    /* padding: 20px 0px; */
    border-left: lightyellow solid 1px;
    padding: 0px 20px;
}
.nav a.first-nav {
    border: none;
}


