body{
    display: flexbox;
    background-color: #FFFFFF;
    color: #000;
    flex-direction: column;
    flex: 1;
}
header {
    background-color: #00072d;
    display: flex;
    text-align: center;
    height: 58px;
    width: 100%;
    border-bottom: 1px solid #777777;
}
header .logo {
    left: 20px;
    height: 100%;
    padding-right: 10px;
    margin-bottom: 10px;
}

.search_keyword {
    background-image: url('../images/search_icon_light.png');
    background-size: 34px;
    background-repeat: no-repeat;
    background-color: #00072d;

    color: white;
    caret-color: white;
    height: 30px;
    width: 100%;
    border: 2px #888 solid;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    padding-left: 45px;
  }

.search_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 100px;

    width: 50%;
}
.search_bar form {
    width: 100%;
}
.search_submit {
    display: none;
}
