h1, label, body {
    font-family: Arial, Helvetica, sans-serif;
    color: #dddddd;
}
h1, body {
background-color: #00072d;
}
.container {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;

}
.container .repo{
    padding : 16px;
    flex-direction: column;
    border: 2px gray solid;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 5px;
}
.container .repo img{
    height: 30px;
    width: 30px;
    background-size: 15px;
    border-radius: 15px;
    border: white 1px solid;
}
.container .repo-name {
    position: relative;
    padding-left: 10px;
    font-size: 24px;
    bottom: 5px;
}
.repo-description {
    font-size: 14px;
}
.repo-topics ul{
    padding-left: 0px;
    margin: 4px;
    display: flex;
    flex-direction: row;
    justify-content: left;

    /* white-space: nowrap; */

}
.repo-topics ul li {
    display: inline;
    /* color: #FFFFFF; */
    list-style: square;

}
.repo-description {
    margin: 8px 0px 4px 0px;
    
}
.topics {
    display: flex;
    flex-wrap: wrap;
}
.topic {
    margin: 5px;
    padding: 0px 5px;
    background-color: lightblue;
    border: 1px solid;
    border-radius: 8px;
    color: darkblue;

  
}