h1, label, body, div {
    font-family: Arial, Helvetica, sans-serif;
}
body, input, footer {
    background-color: #34568B;
    color: #ddd;
}
input[type=search] {
    text-align: center;
    background-image: url('../images/search_icon.png');
    background-size: 40px;
    background-repeat: no-repeat;
    padding-left: 40px;
    height: 42px;
    width: 100%;
    border: 2px #888 solid;
    border-radius: 100px;
    font-size: 24px;
  }
label h1 {
    margin: 40px;
    font-size: 100px;
  }

.container {
    display: flex;
    align-items: center; /* vertical alignment */
    justify-content: center; /* horizontal alignment */
    vertical-align: middle;
    flex-direction: column;
    padding: 30px;
}
.container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.search_submit {
    display: none;
}
.search_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-self: center; */
    vertical-align: middle;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 100px;

    width: 100%;
}
footer {
    position: fixed;
    height: 60px;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #CCCCCC;
}
footer p {
    position: absolute;
    text-align: center;
    top: 10%;
    bottom: 0;
    right: 0;
    left: 0;
}